<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <h1>Gestión de Productos</h1>
        <nav>
            <a href="/home">Lista de Productos</a> |
            <a href="/realtimeproducts">Productos en Tiempo Real</a>
        </nav>
    </header>
    {{{body}}}
</body>
</html>
